node_modules/

/.idea
/.awcache
/.vscode
/.devcontainer
*.code-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# bundle
packages/**/*.d.ts
packages/**/*.js
!packages/**/*.spec.js

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo
/dist
/models
*.bin

# example
/quick-start
/example_dist
/example
/samples

# tests
/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
/benchmarks/memory
build/config\.gypi

.npmrc
.secure
.env
pnpm-lock.yaml

database.sqlite
/http
*.cached.js
/public/assets/*.cached.js
