body{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #EFEFEF;
	color: #111111;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

html[data-theme="dark"] body{
    background: #666;
    color: #EFEFFF;
}

h1 { 
    font-size: 60px;
	font-weight: 200;
	text-align: center;
	color: #b83f45;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.todo-box{
    position: relative;
    width: 500px;
    margin: auto;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

html[data-theme="dark"] .todo-box {
    background-color: #2c2c2c;
    border: 1px solid #000;
}

.todo-item {
    border: 1px solid #CCC;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

html[data-theme="dark"] .todo-item {
    border: 1px solid #000;
}

.todo-item-checked {
    text-decoration: line-through;
}

.todo-input-box {
    width: calc(100% - 2.5px);
    border: 1px solid #CCC;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

html[data-theme="dark"] .todo-input-box {
    border: 1px solid #000;
}

.todo-input {
    width: 70%;
    margin: auto;
    border: none; 
    outline: none;
    padding: 10px;
    font-size: 15px;
    background-color: #FFF;
}

html[data-theme="dark"] .todo-input {
    background-color: #2c2c2c;
}

.todo-item-content{
    width: 70%;
    padding: 10px;
    font-size: 15px;
}

.todo-btn-add, .todo-btn-remove {
    width: 30%;
    height: 42px;
    margin: none;
    background-color: #155B22; 
    color: #fff;
    border: none;
    padding: 5px; 
    cursor: pointer; 
    text-align: center; 
    font-size: 15px;
}

.todo-btn-remove{
    background-color: #a72828; 
}

.todo-btn-remove[disabled], .todo-btn-add[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}

.todo-btn-remove[disabled]:hover, .todo-btn-add[disabled]:hover {
    background-color: #ccc;
}

.todo-btn:hover {
    background-color: #218838; 
    border-color: #1e7e34; 
}

.box-login {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #EFEFEF;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}